{% extends 'admin/base.admin.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block header %}<h1>Administration</h1>{% endblock %}
{% block body_title %}Page d'administration générale{% endblock %}

{% block body %}
	Contenu de la partie administration
{% endblock %}
